body{
    background-image: url("Sterett.jpg");
}
p {
    color: gold;
    text-align: center;
}
.navy-header {
    color: navy;
    text-align: center;
    font-size: 300%;
}
#italicsParagraph {
    font-style: italic;
}
