body{
    background-image: url("Sterett.jpg");
}
p {
    color: gold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;

}
.navy-header {
    color: navy;
    text-align: center;
    font-size: 300%;
}
#italicsParagraph {
    font-style: italic;
}
